<div class="menu-container-div">
  <aside class="sidebar is-visible">
    <div class="menu-div sidebar-content">
      <ul>
        <div id="marker"></div>
        <li><a href="#">Home</a></li>
        <li><a [routerLink]="['/home/drawing']">Drawing</a></li>
        <li><a [routerLink]="['/home/rev']">Reveal</a></li>
        <li><a [routerLink]="['/home/neural']">Neural</a></li>
        <li><a [routerLink]="['/home/dynamic']">Neural/Dynamic</a></li>
        <li><a [routerLink]="['/home/writing']">Writing</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </aside>
  <main  class="content">
    <router-outlet></router-outlet>
  </main>
</div>
